======================================================
registry=https://europe-npm.pkg.dev/chattermill-245010/cm-npm/
//europe-npm.pkg.dev/chattermill-245010/cm-npm/:_password="eWEyOS5hMEFmSDZTTUQ5aFVqLWQ1UDNWWm9qcnNyb09UTWNpeGhQQkZ5X3hRelQ0bE5WUUxudWRoNDFnVnNGTkRZOGVvWms0WU9NSUExSGZ1c183UTRTVkxkU2tjS21yWmVYRHJ4d0VxQUtwUTFSR2p1RlVzOEZGbHVzeE1UbFpNOWFWRFhUSWFlZktjbEJMd1RJam5SWTBVcm9VVzZ6ZWhBTVNCR0M5eW8="
//europe-npm.pkg.dev/chattermill-245010/cm-npm/:username=oauth2accesstoken
//europe-npm.pkg.dev/chattermill-245010/cm-npm/:email=not.valid@email.com
//europe-npm.pkg.dev/chattermill-245010/cm-npm/:always-auth=true
======================================================

